In [2]:
import pandas as pd 
import time
from timeit import timeit

In [3]:
df = pd.read_excel('./EntityID.xlsx')

In [4]:
final_df = pd.read_excel('t_batch3.xlsx')
#final_df.head()
f = final_df[final_df['FINANCIALS_EXTRACTED'] == True ]

In [6]:
d_f = pd.merge(f,df,left_on='PBID',right_on='PBID')
d_f = d_f.drop(columns=['PBID','FILEDATE','PROCESSED_DATE','FINANCIALS_EXTRACTED','FILEPATH','Unnamed: 0'])
d_f = d_f.rename(columns={'ENTITYID':'id'})
d_f['ann'] = True
d_f['qtr'] = False
d_f['ttm'] = False
d_f['fiscalQuarter'] = pd.PeriodIndex(d_f['periodEndDate'], freq='Q').quarter
d_f['fiscalYear'] = pd.PeriodIndex(d_f['periodEndDate'], freq='Q').year
d_f['currency'] = 32
d_f['preliminaryType'] = False
d_f['originalType'] = True
d_f

,periodEndDate,totalRevenue,incomeBeforeTaxes,interestExpense,depreciationAmortizationExpense,totalOperatingExpenses,retainedEarnings,commonStock,inventoriesNet,totalReceivablesNet,...,costOfRevenue,id,ann,qtr,ttm,fiscalQuarter,fiscalYear,currency,preliminaryType,originalType
0,2008-03-31,3025.053,33.565,166.139,155.105,2991.488,NaN,NaN,NaN,NaN,...,NaN,1924540,True,False,False,1,2008,32,False,True
1,2006-09-30,1391602.371,-52767.690,61688.574,98828.079,1444370.061,NaN,NaN,NaN,NaN,...,NaN,1924540,True,False,False,3,2006,32,False,True
2,2010-03-31,NaN,NaN,NaN,733138.205,NaN,1565381.692,301221.328,187444.793,106623.971,...,NaN,1924540,True,False,False,1,2010,32,False,True
3,2009-03-31,NaN,NaN,NaN,640261.464,NaN,1619481.093,3365672.480,166765.552,NaN,...,NaN,1924540,True,False,False,1,2009,32,False,True
4,2009-03-31,1817419.816,-100729.710,101644.261,76406.000,1918149.526,NaN,NaN,NaN,NaN,...,NaN,1924540,True,False,False,1,2009,32,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,2010-03-31,NaN,NaN,NaN,1286.530,NaN,116394.169,195892.382,1696.124,NaN,...,NaN,1951127,True,False,False,1,2010,32,False,True
122,2014-03-31,NaN,NaN,NaN,NaN,NaN,185335.315,97148.000,24193.107,NaN,...,NaN,1951127,True,False,False,1,2014,32,False,True
123,2011-03-31,NaN,NaN,NaN,2527.282,NaN,117639.161,229900.309,987.568,NaN,...,NaN,1951127,True,False,False,1,2011,32,False,True
124,2013-03-31,NaN,NaN,NaN,NaN,NaN,125015.307,75668.000,41475.562,NaN,...,NaN,1951127,True,False,False,1,2013,32,False,True
125,2012-03-31,27518.908,4660.126,5147.477,1931.960,22858.782,NaN,NaN,NaN,NaN,...,NaN,1951127,True,False,False,1,2012,32,False,True